.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
}

.ol-draw-tooltip,
.ol-edit-tooltip,
.ol-transform-tooltip {
  pointer-events: none;
}

.ol-draw-tooltip-line + .ol-draw-tooltip-line,
.ol-edit-tooltip-line + .ol-edit-tooltip-line,
.ol-transform-tooltip-line + .ol-transform-tooltip-line {
  margin-top: 2px;
}

.ol-draw-tooltip-overlay,
.ol-edit-tooltip-overlay,
.ol-transform-tooltip-overlay {
  pointer-events: none !important;
  transition: none !important;
  will-change: transform;
}
